<!DOCTYPE html>
<html lang="ch">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>早点下班</title>   


<!-- 引入vant -->
<link rel="stylesheet" href="css/calendar/calendar.css"/>
<link rel="stylesheet" href="css/vant/index.css"/>

</head>
<body>
<div id="app" :style="{'width':'100%'}">

	<!-- 日历 -->

	<div>
		<van-calendar
			:show-title="false"
			:poppable="false"
			:show-confirm="false"
			:row-height="52"
			:style="{ height: '450px' }"
			color="linear-gradient(135deg, rgba(5, 201, 221, 1) 0%, rgba(23, 196, 160, 1) 100%)"
			:default-date="calendar.selectDate"
			@select="selectCalendar"
		/>
	</div>
	
	<div>
		<!-- 分割线 -->
		<van-divider :style="{'margin':'0px'}"/>
	</div>
	

	<div :style="{'background-color': '#FFF'}">
		<!-- 打卡按钮 -->
		<van-grid :border="false" :column-num="3" :gutter="10" :clickable="true" :square="true" :center="true">
		  <van-grid-item>
		  	<van-image src="img/morning.png"/>
		  </van-grid-item>
		  <van-grid-item @click="punchClick">
		    <van-image src="img/check.png"/>
		  </van-grid-item>
		  <van-grid-item @click="clickReport">
		  	<van-image src="img/history.png" />
		  </van-grid-item>
		</van-grid>
	</div>

	<div>
		<!-- 分割线 -->
		<van-divider :style="{'margin':'0px'}"/>
	</div>

	<div>
		<van-steps direction="vertical" :active="2">
		  <van-step>
		    <h3>【开始时间】12:40</h3>
		  </van-step>
		  <van-step>
		    <h3>【结束时间】12:40</h3>
		  </van-step>
		  <van-step>
		    <h3>【加班结算】时长：1小时  加班费：￥30</h3>
		  </van-step>
		</van-steps>
	</div>

	<!-- 登录弹出层 -->
	<van-popup v-model="showAuthPopup" round position="bottom" :style="{'height':'30%'}" :close-on-click-overlay="false">
		<van-cell-group inset :border="false">
			<van-cell>
				<van-field v-model="user.name" label="用户名" placeholder="请输入用户名"/>
			</van-cell>
			<van-cell>
				<van-field v-model="user.password" label="密码" placeholder="请输入密码" type="password"/>
			</van-cell>
			<van-cell>
				<van-row :style="{'text-align': 'center'}">
				  <van-col span="4"></van-col>
				  <van-col span="16">
				  	<van-button 
				  	    @click="getToken" 
				  		color="linear-gradient(135deg, rgba(5, 201, 221, 1) 0%, rgba(23, 196, 160, 1) 100%)"
				  		size="small" 
				  		block 
				  		round
			  		>
				  		登&nbsp;&nbsp;&nbsp;&nbsp;陆
				  	</van-button>
				  </van-col>
				  <van-col span="4"></van-col>
				</van-row>
			</van-cell>
		</van-cell-group>
	</van-popup>

	<!-- 打卡弹出层 -->
	<van-popup v-model="punchPopup.show" round position="bottom" :style="{'height':'50%'}">
		<van-datetime-picker
		  v-model="punchPopup.timeSelect"
		  type="time"
		  :title="punchPopup.title"
		  @confirm="punchConfirm"
		  @cancel="punchCancel"
		/>
	</van-popup>

	<!-- 加载动画 -->
	<van-overlay :show="lodingStatus">
		<div class="loading-wrapper">
		    <van-loading size="48"/>
		</div>
	</van-overlay>

</div>

<script src="js/calendar/resize.js" type="text/javascript" charset="utf-8"></script>
<script src="js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="js/vant/vant.min.js"></script>
<script src="js/axios/axios.min.js"></script>
<script src="js/calendar/calendar.js" type="text/javascript" charset="utf-8"></script>




</body>
</html>